In [2]:
import pandas as pd
import numpy as np

data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 1. 인덱싱

In [14]:
print( sr[0]  ) # value값이 나온다.
print( sr[-1] ) # value를 기준으로 zero-base
# --------------- numpy도 가능한 인덱싱 ----------------- #

10
50

In [15]:
# sr.aa도 가능한데 이건 속성이랑 명이 겹칠 때 위험
sr['aa'] # 딕셔너리 인덱싱처럼, **인덱스로 인덱싱**

10

### 1-1. 복수개 인덱싱

In [16]:
sr[[0,1,2]]

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [5]:
sr[['aa','bb','cc']]

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

### 2. 슬라이싱
- ndarray 슬라이싱의 값은 ndarray
- series 슬라이싱의 값은 series

In [6]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [17]:
sr[1:4] # 1 <= idx < 4

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [18]:
sr[:-1]# 0<= idx < -1

aa    10
bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

### 2-1. 부여된 인덱스로 슬라이싱
- 이때 슬라이싱은 **끝 인덱스도 포함**된다
    - 'aa' <= idx <= 'cc'
    
- **iloc** 속성
    - 인덱싱, 슬라이싱 가능하게 함
    - **zero-base**기준
    - 끝인덱스 포함 안 함
    - series.iloc['부여된 인덱스'] (x)
    - series.iloc[0] (o)
    
- **loc**속성
    - 인덱싱, 슬라이싱 가능하게 함
    - **부여된 인덱스** 기준
    - **끝인덱스** 포함
    - series.loc['부여된 인덱스'] (o)
    - series.loc[2:4] (x)

In [19]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [20]:
sr['aa':'cc'] # 'aa'<= idx <= 'cc'

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [10]:
print( sr.iloc[0] )
print( sr.iloc[-1])
print('*'*10)
print( sr.iloc[0:3] )

10
50
**********
aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [11]:
sr.loc['bb':'dd']

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

### 2-2 Boolean 인덱싱

In [21]:
sr[[True,False,False,True,True]]

aa    10
dd    40
ee    50
Name: 국어점수, dtype: int64

### 2-3. loc / iloc을 반드시 사용해야하는 경우
- 인덱스가 문자열이 아닌 **정수형**인 경우
    - series[0]   >> **부여된 인덱스 기준**으로 바뀜
    - 따라서 series 인덱스에 0이 없으면 오류가 발생

In [22]:
sr.index = [2,3,4,5,6]
sr # 시리즈의 인덱스가 숫자로 바뀜

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64

In [14]:
sr[2] # zero-base라면 0,1,2 순서로 2번째 값인 "30"이 나와야 함
# 부여된 인덱스를 기준으로 처리해버림

10

In [15]:
sr.iloc[2]

30

In [16]:
sr.loc[2]

10

In [17]:
sr.index = np.arange(0,5)
sr

0    10
1    20
2    30
3    40
4    50
Name: 국어점수, dtype: int64