In [1]:
import pandas as pd
import numpy as np

data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [2]:
sr.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

In [3]:
sr.values

array([10, 20, 30, 40, 50], dtype=int64)

### 산술, 관계, 논리 연산자 사용 가능( element wise )
- 기존 numpy 논리 연산자
    - & : and
    - | : or
    - ~ : not
- pandas는 numpy의 업그레이드 버전!
    - 논리 연산자
        - and : **Series.between()**
        - or  : **Series.isin()**

In [6]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [5]:
sr+1 # element wise

aa    11
bb    21
cc    31
dd    41
ee    51
Name: 국어점수, dtype: int64

In [7]:
sr*2 # element wise

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [8]:
# Q.문제 세금 3.3%을 제외한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [9]:
sr >= 30 # element wise

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [11]:
sr[ sr >= 30 ] # boolean 인덱싱( True에 해당되는 값만 추출 )

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [4]:
( sr == 20 ) | ( sr == 40 )

aa    False
bb     True
cc    False
dd     True
ee    False
Name: 국어점수, dtype: bool

In [5]:
# sr[( sr == 20 ) | ( sr == 30 )]
sr.isin([20,40])

aa    False
bb     True
cc    False
dd     True
ee    False
Name: 국어점수, dtype: bool

In [24]:
sr[( sr == 20 ) | ( sr == 40)]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [6]:
( sr >= 20 ) & ( sr <= 40 )

aa    False
bb     True
cc     True
dd     True
ee    False
Name: 국어점수, dtype: bool

In [7]:
# ( sr >= 20 ) & ( sr <= 40 )
sr.between(20,40)

aa    False
bb     True
cc     True
dd     True
ee    False
Name: 국어점수, dtype: bool

In [17]:
sr[( sr >= 20 ) & ( sr <= 40 )]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [19]:
~( sr == 20 )

aa     True
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [6]:
sr[ ~( sr == 20 ) ]

aa    10
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 인덱스로도 불리안 인덱싱

In [7]:
# 인덱스로도 불리안 인덱싱
sr.index == 'bb'

array([False,  True, False, False, False])

In [28]:
sr[sr.index == 'bb']

bb    20
Name: 국어점수, dtype: int64

In [8]:
sr.index.isin(['bb'])

array([False,  True, False, False, False])

In [12]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [20]:
sr[ sr.index.isin(['aa']) ]

aa    10
Name: 국어점수, dtype: int64