In [3]:
import pandas as pd
import numpy as np

data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

## CRUD
### 1. 수정

In [4]:
sr[0] = 100
# sr['aa'] = 100
# sr.loc['aa'] = 100
# sr.iloc[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [5]:
sr[1:3] = [40,50]
# sr['bb':'cc'] = [40,50]
# sr.loc['bb':'cc'] = [40,50]
# sr.iloc[1:3] = [40,50]
sr

aa    100
bb     40
cc     50
dd     40
ee     50
Name: 국어점수, dtype: int64

In [6]:
print( sr['dd':'ee'] )
print('='*10)
print( sr['dd':'ee']+2 )

dd    40
ee    50
Name: 국어점수, dtype: int64
==========
dd    42
ee    52
Name: 국어점수, dtype: int64

In [7]:
sr

aa    100
bb     40
cc     50
dd     40
ee     50
Name: 국어점수, dtype: int64

In [19]:
# 30이상인 데이터에 5를 더한 값으로 수정하시요
print(sr)
sr[ sr >= 30 ] = sr[ sr >= 30 ] + 5
print('='*10)
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64
==========
aa    10
bb    20
cc    35
dd    45
ee    55
Name: 국어점수, dtype: int64

In [14]:
# 50 이상인 값에 2를 곱하시오
sr[ sr >= 50 ] = sr[ sr >= 50 ]*2
sr

aa    200
bb     40
cc    100
dd     40
ee    100
Name: 국어점수, dtype: int64

### 2. 추가
- 인덱스가 있으면 수정, 없으면 추가
- Series.**append**( Series or list/tuple of Series )
- 적용하려면 Series를 다시 객체로 받아야 한다

In [17]:
# 수정
sr.loc['ee'] = 70
sr

aa    200
bb     40
cc    100
dd     40
ee     70
Name: 국어점수, dtype: int64

In [19]:
# 추가
sr.loc['ff'] = 80
sr

aa    200
bb     40
cc    100
dd     40
ee     70
ff     80
Name: 국어점수, dtype: int64

In [25]:
sr.append( pd.Series( [80,90,100] ,index=['gg','hh','kk'])  ) 
# sr.append( Series or list/tuple of Series)

aa    200
bb     40
cc    100
dd     40
ee     70
ff     80
gg     80
hh     90
kk    100
dtype: int64

### 3. 삭제
- Series.**drop**( index=['**부여된 인덱스**'] )

In [26]:
sr.drop( index=['aa','cc'] )

bb    40
dd    40
ee    70
ff    80
Name: 국어점수, dtype: int64

In [27]:
sr

aa    200
bb     40
cc    100
dd     40
ee     70
ff     80
Name: 국어점수, dtype: int64

### 연습문제

In [44]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [42]:
# 25이상인 데이터를 삭제하시오
sr.drop( sr[ sr>=25 ].index )

aa    10
bb    20
Name: 국어점수, dtype: int64

### 4.검색
- 데이터가 **문자열**로 구성되어 있는 경우
- 숫자형 데이터는 isin( ), between( ) 등 불리언 인덱싱으로 하면 된다

### 5.정렬
- Series.**sort_index**( )
- Series.**sort_values**( )

In [47]:
sr[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [50]:
sr.sort_values( ascending=True )

bb     20
cc     30
dd     40
ee     50
aa    100
Name: 국어점수, dtype: int64

In [51]:
sr.sort_index( ascending=False )

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64