**Pandas의 핵심**
- Series( 1차원 데이터 )
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html    
        - One-dimensional ndarray with **axis labels** (including time series)
        - 인덱스와 데이터, 타입정보가 나온다
        - 시리즈를 이해해야 데이터 프레임을 이해할 수 있다.
        - numpy의 업그레이드 버전
            - 리스트, 튜플, 딕셔너리<br>
<br>
- DataFrame( **2차원** 이상의 데이터 )
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html    
        - Data structure also contains labeled axes ( rows and columns )
        -  "... Can be thought of as **a dict-like container for Series objects**."
        - 생성시 Series와 비슷하나, **columns**가 추가로 존재
            - 리스트의 리스트
            - 리스트의 딕셔너리
            - 딕셔너리의 리스트
            - 리스트의 튜플

In [1]:
import pandas as pd
import numpy as np

In [2]:
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor':1, 'eng':2},
      {'kor':3, 'eng':4},
      {'kor':5, 'eng':6}]
d4 ={'kor':[1,3,5],'eng':[2,4,6]}

In [6]:
df = pd.DataFrame(d1, index=['A','B','C'], columns=['국어','영어']) # 인덱스명, 컬럼명을 바꿀 수 있다
df

   국어  영어
A   1   2
B   3   4
C   5   6

In [7]:
df2 = pd.DataFrame(d2)
df2

   0  1
0  1  2
1  3  4
2  5  6

In [9]:
df3 = pd.DataFrame(d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [10]:
df4 = pd.DataFrame(d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6

In [11]:
d4

{'kor': [1, 3, 5], 'eng': [2, 4, 6]}