In [1]:
import pandas as pd
import numpy as np

In [4]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [5]:
# (1) 차원( Series, numpy와 유사)
df.ndim

2

In [7]:
# (2) 행렬 ( 4행 3열 )
df.shape

(4, 3)

In [8]:
# (3) 데이터 개수
df.size

12

### 데이터 프레임의 행의 개수
- df.**shape**[0]
    - shape의 결과값이 튜플이라 인덱싱 가능
- **len**(df)

In [11]:
df.shape[0]
len(df)

4

In [12]:
# (4) 전치행렬
df.T

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70

In [13]:
# (5) 인덱스
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [22]:
# (6) 컬럼 - 1
df.keys()

Index(['eng', 'kor', 'math'], dtype='object')

In [14]:
# (7) 컬럼 - 2
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [15]:
# (8) 값만 추출 => **2차원 ndarray**
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [20]:
# (9) 데이터 타입( <-> Series는 dtype ) : **컬럼별** 타입정보 알려준다. => 결과: **Series**
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [23]:
# 결과가 **시리즈**이기 때문에 시리즈에서 사용할 수 있는 메소드 사용 가능
df.dtypes.index
df.dtypes[0]

dtype('int64')

In [25]:
# (10) 각 컬럼의 타입정보
df.info() # 속성은 아니고 멤버함수!

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [27]:
# (11) 기술통계량
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   40.000000  50.000000  57.500000
std    25.819889  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    25.000000  35.000000  42.500000
50%    40.000000  50.000000  60.000000
75%    55.000000  65.000000  75.000000
max    70.000000  80.000000  90.000000