In [1]:
import pandas as pd
import numpy as np
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

# 1. 인덱싱
- Series는 sr['부여된 인덱스'] / sr[ZeroBase]로 가능
- DataFrame은 sr['**컬럼명**']으로만 인덱싱 가능<br>
<br>
- 인덱싱의 결과값은 **Series**다!
    - Series객체의 속성, 메소드 사용가능
        - ex ) df[' eng '].시리즈 속성( 메소드 )

In [51]:
type( df['eng'] )

pandas.core.series.Series

In [12]:
df['eng']['a':'c'] # 결과는 **시리즈**

a    10
b    30
c    50
Name: eng, dtype: int64

In [13]:
df[['eng']] # 결과는 **데이터 프레임**

   eng
a   10
b   30
c   50
d   70

In [8]:
# 복수개 컬럼 선택
df[['eng','math']]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

# 2. 슬라이싱
- DataFrame의 슬라이싱은 **행(row)** 단위
    - 즉 인덱스로 슬라이싱 가능<br>

In [14]:
df[1:3]

   eng  kor  math
b   30   40    50
c   50   60    20

In [17]:
df['b':'c']

   eng  kor  math
b   30   40    50
c   50   60    20

In [19]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

## (1) iloc 슬라이싱
- **zero-base 인덱싱**
- 인덱싱 슬라이싱 가능
- numpy의 2차원 데이터 인덱싱과 100% 동일
- df.iloc[행,열]

In [18]:
df.iloc[0] # 0번째 **행**

eng     10
kor     20
math    90
Name: a, dtype: int64

In [20]:
df.iloc[0,1] # 0번째 **행**과 1번째 **열**

20

In [23]:
df.iloc[[0,2]] # 0,2번째 행

   eng  kor  math
a   10   20    90
c   50   60    20

In [25]:
df.iloc[[0,2],[0,2]] # 0,2번째 행 & 0번, 2번째 열

   eng  math
a   10    90
c   50    20

In [27]:
df.iloc[1:,1] # 슬라이싱도 가능 -> 결과는 시리즈

b    40
c    60
d    80
Name: kor, dtype: int64

In [28]:
df.iloc[1:,1:]

   kor  math
b   40    50
c   60    20
d   80    70

In [31]:
df.iloc[:,:-1] # feature선택할 때 주로 이렇게

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [32]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [35]:
df.iloc[[1,2],[0,2]]

   eng  math
b   30    50
c   50    20

## (2) loc 슬라이싱
- **부여된 인덱스**와 **부여된 컬럼명**으로 인덱싱
- df.loc[ 행, 열 ]

In [37]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [38]:
df.loc['a'] # 결과값은 시리즈

eng     10
kor     20
math    90
Name: a, dtype: int64

In [39]:
df.loc['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [41]:
df.loc[['a','b','d']] # 복수개 행 선택

   eng  kor  math
a   10   20    90
b   30   40    50
d   70   80    70

In [46]:
df.loc['b':,'kor']

b    40
c    60
d    80
Name: kor, dtype: int64

In [47]:
df.loc['b':,'kor':]

   kor  math
b   40    50
c   60    20
d   80    70

In [48]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [50]:
df.loc['b':'c', ['eng','math']]

   eng  math
b   30    50
c   50    20