In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [63]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

## 기술통계 데이터
- sum()
    - Numpy에선 하나의 행으로 풀어서 sum계산
    - DataFrame에선 각 컬럼별 합을 구한다
        - 기본값: df.sum(axis=0)

In [10]:
# df.sum(axis=0)
# df.sum(axis=1) row별
df.sum()

eng     160
kor     200
math    230
dtype: int64

### 전체 합 구하기
- df.sum().sum()
- df.values.sum()
- df.unstack().sum()

In [20]:
# 방법(1)
df.sum().sum()
# 데이터프레임의 sum().시리즈의 sum()

590

In [24]:
# 방법(2)
df.values.sum()
# 2차원 ndarry객체의 sum은 하나의 행으로 묶어서 합

590

### *df.unstack( )
- DataFrame을 Series로 변환

In [33]:
# 방법(3)
# 데이터 프레임을 시리즈로 변환
# 멀티 인덱스
sr = df.unstack()
sr.index

MultiIndex([( 'eng', 'a'),
            ( 'eng', 'b'),
            ( 'eng', 'c'),
            ( 'eng', 'd'),
            ( 'kor', 'a'),
            ( 'kor', 'b'),
            ( 'kor', 'c'),
            ( 'kor', 'd'),
            ('math', 'a'),
            ('math', 'b'),
            ('math', 'c'),
            ('math', 'd')],
           )

In [35]:
sr['eng']['a']

10

In [37]:
df.unstack().sum()

590

In [40]:
df.mean(axis=1).round(2)

a    40.00
b    40.00
c    43.33
d    73.33
dtype: float64

In [43]:
df.mean().mean()

49.166666666666664

In [44]:
df.values.mean()

49.166666666666664

In [45]:
df.unstack().mean()

49.166666666666664

In [42]:
df.max(axis=1)

a    90
b    50
c    60
d    80
dtype: int64

In [59]:
df == df.max().max()

     eng    kor   math
a  False  False   True
b  False  False  False
c  False  False  False
d  False  False  False

In [61]:
df.min()

eng     10
kor     20
math    20
dtype: int64

In [64]:
df.idxmin()

eng     a
kor     a
math    c
dtype: object

In [66]:
df.idxmax(axis=1)

a    math
b    math
c     kor
d     kor
dtype: object

In [69]:
df.median()

eng     40.0
kor     50.0
math    60.0
dtype: float64

In [72]:
df.std()

eng     25.819889
kor     25.819889
math    29.860788
dtype: float64

In [73]:
df.quantile([0.25,0.5,0.75])

       eng   kor  math
0.25  25.0  35.0  42.5
0.50  40.0  50.0  60.0
0.75  55.0  65.0  75.0

In [74]:
df.count() # 컬럼별 개수

eng     4
kor     4
math    4
dtype: int64

In [75]:
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   40.000000  50.000000  57.500000
std    25.819889  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    25.000000  35.000000  42.500000
50%    40.000000  50.000000  60.000000
75%    55.000000  65.000000  75.000000
max    70.000000  80.000000  90.000000